<!-- 
	lIXIA ZHAO
	CSC 620 hw5
	new.html.erb
	to show random images
	Due 11/23/2015
-->

<form>
  <br/>

  <div class="form-group" >
    
    <%= rucaptcha_image_tag(alt: 'Captcha') %>
  </br>
    <%= rucaptcha_input_tag(class: 'form-control', placeholder: 'Input Captcha') %>
  </div>
  
</form>